<div id="account_tax_detail">
    <div class="col-md-12 whitebox">
        <div class="row">

            <div class="col-md-1">
                <div class="form-group">
                    <label for="tds">TDS</label>
                    <p-checkbox name="tds"></p-checkbox>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="panNumber">PAN Number</label>
                    <input type="string" name="panNumber" class="form-control" id="panNumber">
                </div>
            </div>

        </div>
    </div>

    <br />

    <!-- ----------------------------- -->
    <!-- Table section start from here -->
    <!-- ----------------------------- -->
    <div class="col-m-12 whitebox">

        <p-table 
        #taxdetail 
        [value]="taxDetailsModelObj.taxTableArray" 
        [resizableColumns]="true"
        columnResizeMode="expand" 
        [showCurrentPageReport]="false"
        [reorderableColumns]="true" 
        dataKey='taxdetail'>

            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" pButton icon="pi pi-plus" (click)="add()" label="Add"></button>
                </div>
            </ng-template>

            <!-- Header Part -->
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pReorderableColumn>
                        State
                    </th>
                    <th pResizableColumn pReorderableColumn>
                        GST No.
                    </th>
                    <th pResizableColumn pReorderableColumn>
                        Address
                    </th>
                    <th pResizableColumn pReorderableColumn>
                        Remark
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <!-- Body Part -->
            <ng-template pTemplate="body" let-rowData let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td class="ui-resizable-column">
                        {{rowData.selectedState}}
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData.gstNumber}}
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData.address}}
                    </td>
                    <td class="ui-resizable-column">
                        {{rowData.remark}}
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteRow(rowData.id)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        

    </div>

    <!-- ----------------------------- -->
    <!-- Table section End -->
    <!-- ----------------------------- -->

    <!-- ----------------------------- -->
    <!-- Start Delete Modal from here -->
    <!-- ----------------------------- -->
    <p-confirmDialog [style]="{width: '50vw'}" key="deleteDialog" [style]="{width: '50vw'}"></p-confirmDialog>
    <!-- ----------------------------- -->
    <!-- End Delete Modal Here -->
    <!-- ----------------------------- -->


    <!-- -------------------------------- -->
    <!-- Start Add Record Modal from here -->
    <!-- -------------------------------- -->
    <p-dialog header="Add Tax Detail" [(visible)]="taxDetailsModelObj.addRecordDialoge" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
            <div class="p-grid ui-fluid">
                <div class="container">
                    <div class="form-group">
                        <label for="selectedState">State</label>
                        <!-- <input type="text" name="selectedState" [(ngModel)]="taxDetailsRecordObj.selectedState" class="form-control" id="selectedState"> -->
                        <p-dropdown [options]="taxDetailsRecordObj.stateArray" [(ngModel)]="taxDetailsRecordObj.selectedState" placeholder="State" [filter]="true"></p-dropdown>
                    </div>

                    <div class="form-group">
                        <label for="gstNumber">GST Number</label>
                        <input type="text" name="gstNumber" [(ngModel)]="taxDetailsRecordObj.gstNumber" class="form-control" id="gstNumber">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" [(ngModel)]="taxDetailsRecordObj.address" class="form-control" id="address">
                    </div>

                    <div class="form-group">
                        <label for="remark">remark</label>
                        <input type="text" name="remark" [(ngModel)]="taxDetailsRecordObj.remark" class="form-control" id="remark">
                    </div>

                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button type="button" pButton icon="pi pi-times" (click)="deleteRecordFromModal()" label="Delete"></button>
                    <button type="button" pButton icon="pi pi-check" (click)="saveRecordFromModal()" label="Save"></button>
                </div>
            </p-footer>
        </p-dialog>
    <!-- -------------------------------- -->
    <!-- End Add Record Modal from here -->
    <!-- -------------------------------- -->
    
    <p-toast></p-toast>


</div>