<div id="add_account">
    <div class="title row">Account</div>
    <div class="col-md-12 whitebox">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="accountName">Account Name
                        <span class="error">*</span>
                        <span class="error float-right">Please fill required Field</span>
                    </label>
                    <input type="text" name="accountname" class="form-control" id="accountname">
                </div>

                <div class="form-group">
                    <label for="chequePrintName">Cheque Print Name</label>
                    <input type="text" name="chequePrintName" class="form-control" id="chequeprintname">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="accountgrp">Purchase Account</label>
                    <div>
                        <p-dropdown [options]="addAccountModelObj.accountGrpArray" [(ngModel)]="addAccountModelObj.selectedAccountGrp" placeholder="Select Account Group" [filter]="true"></p-dropdown>
                    </div>    
                </div>

                <div class="form-group">
                    <div class="row m-0">
                        <div class="col-md-9 p-0">
                            <label for="openingbalance">Opening Balance</label>
                            <input type="text" name="openingbalance" class="form-control" id="openingbalance">
                        </div>
                        <div class="col-md-3 typetrasfer pr-0">
                            <p-dropdown [options]="addAccountModelObj.transferTypeArray" [(ngModel)]="addAccountModelObj.selecetedTransferType"></p-dropdown>
                        </div> 
                    </div>  

                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" name="date" class="form-control" id="date">
                </div>
            </div>

            <div class="col-md-12 text-center">
                <!-- <br/>
                <button pButton type="button" label="Save"></button>
                <button pButton type="button" label="Close"></button> -->
            </div> 

        </div>
    </div> 
    <br/>
    <div class="col-md-12 whitebox">
        <p-tabView>
            <p-tabPanel header="Company Site">
                <app-acc-company-site></app-acc-company-site>
            </p-tabPanel>
            <p-tabPanel header="Address Details">
                <app-acc-address></app-acc-address>
            </p-tabPanel>
            <p-tabPanel header="Bank Details">
                <app-acc-bank-detail></app-acc-bank-detail>
            </p-tabPanel>
            <p-tabPanel header="Tax Details">
                <app-acc-tax-detail></app-acc-tax-detail>
            </p-tabPanel>
            <p-tabPanel header="Contact Details">
                <app-acc-contact-details></app-acc-contact-details>
            </p-tabPanel>
            <p-tabPanel header="KYC Details">
                <app-kyc-details></app-kyc-details>
            </p-tabPanel>
        </p-tabView>
    </div>

    
</div>

